div {
    display: inline-block;
    height: 30px;
    width: 50px;
    border-radius: 40%;
}

#red {
    background-color:red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}