#idx-atf {
  height: 100vh;
  display: flex;
  /* flex-flow: row nowrap; */
  justify-content: center;
  align-items: center;
}

.idx-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.125;
}
