body {
  height: 100vh;
}

.centering {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.idx-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.idx-center h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  /* background: -webkit-linear-gradient(left, rgb(89, 76, 195),rgb(43, 138, 235));
  background: -o-linear-gradient(right, rgb(89, 76, 195),rgb(43, 138, 235));
  background: -moz-linear-gradient(right, rgb(89, 76, 195),rgb(43, 138, 235));
  background: linear-gradient(to right, rgb(89, 76, 195),rgb(43, 138, 235)); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent; */
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.125;
}

nav {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
  margin-right: 1rem;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}


/* nav > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}  */

#second {
  height: 100vh;
  /* background: -webkit-linear-gradient(left, rgb(89, 76, 195),rgb(43, 138, 235));; */
  background-color: #DEDEDE;
  display: flex;
  justify-content: center;
  align-items: center;
}

#idx-atf {
  background-image: url('img/face.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom; 
}

.title {
  color: #363636;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}