* {
    border: 1px dashed hotpink;
}

html {
    font-size: 2rem;
}

ul {
    list-style: none;
    /* display: inline; */
}

li {
    display: inline-block;
    /*border: 2px solid red;*/
    border-radius: 50px;
}

a:hover {
    background-color: green;
}