body {
  background-color: blue;
}

div {
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  background-color: green;
  border: 3px solid black;
  padding: 15px;
}

img {
  display: block;
  margin: 0 auto;
  border: 5px solid red;
  border-radius: 100%;
}

h1 {
  color: blue;
}

h2 {
  color: red;
}

